.Lside{
    position: fixed;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        background: white;
    }
    .profile{
    display: inline-block;
    margin-left: 20px;
    }
    img{
    border-radius: 50%;
    width: 55px;
    height: 55px;
    }
    
    .Lside ul li{
        margin-top: 10px;
        margin-left: 5px;
        list-style: none;
        position: relative;
        left: 0%; 
        display: inline-block;
    }